@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita4.0_B';
    src: url('../font/AnyConv.com__Arita4.0_B.woff');
    font-weight: 900;
}
@font-face {
    font-family: 'Arita4.0_L';
    src: url('../font/AnyConv.com__Arita4.0_L.woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Arita4.0_T';
    src: url('../font/AnyConv.com__Arita4.0_T.woff');
    font-weight: 100;
}
@font-face {
    font-family: 'Arita4.0_M';
    src: url('../font/AnyConv.com__Arita4.0_M.woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Arita4.0_SB';
    src: url('../font/AnyConv.com__Arita4.0_SB.woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Arita-buriM';
    src: url('../font/AnyConv.com__Arita-buriM.woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Arita-buriSB';
    src: url('../font/AnyConv.com__Arita-buriSB.woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Arita-buriL';
    src: url('../font/AnyConv.com__Arita-buriL.woff');
    font-weight: 100;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0; padding: 0;
}

html{
    font-size: 10px;
    background-color: #fff;
}

ul, ol, li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit; 
}
#wrap{
    width: 100%;
    overflow-x: hidden; /**삐져나온곳 안보이게 원으로 된 부분**/
}
.inner{
    max-width: 1400px; 
    margin: 0 auto;
}
.inner_1{
    max-width: 1930px;
    margin: 0 auto;
}
h1,h4,h5,h6{
    font-family: 'GowunDodum-Regular';
}
h1{
    font-size: 44px;
}
h3{
    font-size: 22px;
    font-family: 'Arita4.0_B';
}
h4{
    font-size: 32px;
    padding: 70px 0;
}
h5{
    font-size: 32px;
}
h6{
    font-size: 36px;
}
.font_16, .font_18{
    font-family: 'Arita4.0_M';
    line-height: 2.8rem;
}
.font_16{
    font-size: 16px;
}
.font_18, .font_18_1{
    font-size: 18px;
}
.font_12, .font_15{
    font-family:'Noto Sans KR', sans-serif;
}
.font_12{
    font-size: 12px;
}
.font_15{
    font-size: 15px;
}
.font_18_1{
    font-family: 'GowunDodum-Regular';
    line-height: 1.6;
    font-size: 18px;
}
header .inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: 'Arita4.0_SB';
}
header .inner .ul_font{
    font-family: 'Arita4.0_M';
}
header{
    width: 100%;
    height: 100px;
    background-color: #fff;
    color: rgb(22, 22, 22);
    position: fixed;
    top: 0;
    z-index: 999;
}
header #logo img{
    height: 64px;
    padding: 10px 0 10px 0;
}

header #nav_btn ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

header nav ul li:nth-child(6), header nav ul li:nth-child(7){
    padding-right: 0px;
}

header nav ul li:nth-child(7){
    position: relative;
    top: -2px;
}

header #nav_btn ul li:nth-child(2){
    font-family: 'sans-serif';
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
header #nav_btn ul li:nth-child(1) img{
    height: 18px;
    position: relative;
    top: 4px;
    padding-right: 20px;
}
header #nav_btn ul li:nth-child(2) img{
    position: relative;
    top: -3px;
    padding-left: 10px;
}
header #nav_btn a{
    width: 80px;
    text-align: right;
}

/******************호버 적용***********************/

nav{
    width:100%;
    height: 100px;
    transition-duration: 0.5s;
}
nav:hover{
    background:white;
    height: 300px;
}

ul#out{
    display: flex;
    justify-content: center;
}
ul#out li{
    list-style-type: none;
    text-align: center;
    width: 180px;
}
ul#out ul{
    display: block;
    padding-top: 30px;
    opacity: 0;
    transition-duration: 0.5s;
}
nav:hover ul#out ul{
    opacity: 1;
}
nav:hover a{
    color:black;
}
ul#out li ul li{
    padding: 0;
    text-align: center;
}
#header a{
    line-height: 100px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}
ul#out a:hover{
    color:#0ca37b;
    border-bottom: 1px solid #FFD03B;
}
ul#out ul a:hover{
    border-bottom: none;
}
ul#out ul a{
    line-height: 30px;
}

#header{
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/*******************호버적용**********************/

#s_cont_1, #s_cont_7, #s_cont_8{
    text-align: center;
}
/**section1**/
#s_cont_1{
   width: 1920px;
   height: 450px;
   margin: 0 auto;
   color: #fff;
}
#s_cont_1 h1{
    font-weight: 600;
}
#s_cont_1 p{
    padding-top: 40px;
}
#s_cont_1 .cont_1{
    /**height: 720px;**/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
#s_cont_1 .main_video{overflow: hidden; position: fixed; top: 80px; z-index: -1;}
#s_cont_1 .main_video video{width: 100%; margin: 0 auto; }
#s_cont_1 .main_video div{position: absolute; top: 30%; left: 50%; transform: translateX(-50%);} 
/**section1**/


/****section2 부교시리즈**/
#s_cont_2{
    background-color: #fff;
    color: #333;
}
#s_cont_2 .cir_left, #s_cont_2 .cir_main, #s_cont_2 .cir_right{
    width: 380px;
}
.circle{
    background: #fff;
    width: 132%;
    height: 0;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 40%;
    z-index: -1;
    margin-top: -9%;
}

#cir_to_sect{
    position: relative;
    z-index: 1;
    margin-top: 70vh; /**vh->view height: 보이는 창에서 70% 만큼 margin 주겠다. **/
}


#s_cont_2 #inner_cir{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 140px;
}
#s_cont_2 #inner_cir h1{
    margin-bottom: 14px;
}
#s_cont_2 #inner_cir .cir_left h1,#s_cont_2 #inner_cir .cir_left h3{
    opacity: 0;
}
#s_cont_2 #inner_cir .cir_left p{
    opacity: 0;
}
#s_cont_2 .cir_right h1,#s_cont_2 .cir_right h3{
    opacity: 0;
}
#s_cont_2 #inner_cir .cir_right p{
    opacity: 0;
}
#s_cont_2 #inner_cir h3, #s_cont_2 #inner_cir img{
    margin-bottom: 60px;
}
#s_cont_2 #inner_cir .cir_left{
    transform: rotate(-15deg);
}
#s_cont_2 #inner_cir .cir_right{
    transform: rotate(15deg);
}
#s_cont_2 #inner_cir .cir_left, #s_cont_2 #inner_cir .cir_right{
    position: relative;
    top: 100px;
}
#s_cont_2 .sign_1, #s_cont_2 .sign_2{
    width: 70px;
    position: relative;
    top: 70px;
}
/****section2 부교시리즈**/



/**section3,4,5 고유제부터 똑같은 섹션3개 개막식, 폐막식 나오는 부분**/
#s_cont_3, #s_cont_4, #s_cont_5{
    height: 736px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
#s_cont_3{
    background-image: url("../images/bg/bg_start_light_daerkness.jpg");
}
#s_cont_4{
    background-image: url("../images/bg/bg_drone.jpg");
}
#s_cont_5{
    background-image: url("../images/bg/bg_fireworks.jpg");
}

.left_cont{
    float: left;
}
.left_cont :nth-child(3){
    padding-top: 40px;
}
.right_cont{
    float: right;
}
.right_cont p{
    border: solid 1px #fff;
    border-radius: 8px;
    font-family: 'Arita-dotum-Medium';
    font-size: 20px;
    text-align: center;
    padding: 8px 25px;
    margin-top: 65px;
}
/**section3,4,5 고유제부터 똑같은 섹션3개 개막식, 폐막식 나오는 부분**/

/**section6 거점 지역 전시등전시 - 지도 이미지 첨부 하는 부분**/
#s_cont_6{
    /**height: 544px;**/
    padding: 160px 0;
    color: #333;
    background-color: #fff;
}
#s_cont_6 .inner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

#s_cont_6 .left_inner .font_18{
    margin: 40px 0;
}
#s_cont_6 .left_inner .font_16{
    width: 110px;
    display: block;
    position: relative;
    left: 3px;
}
#s_cont_6 .left_inner img{
    position: relative;
    top: -10px;           /**자세히보기 깉에 밑줄 폰트 사이 간격 조정**/
}

.right_inner {
    width: 720px;
    height: 450px;
}

#s_cont_6 .left_inner .font_16 a{
    background: linear-gradient(180deg,rgba(0,0,0,0) 50%, lightcoral 50%) no-repeat;
    background-size: 0;
    transition: 1s;
}
#s_cont_6 .left_inner .font_16 a:hover{
    background-size: 100%;
}
/**section6 거점 지역 전시등전시 - 지도 이미지 첨부 하는 부분**/

/**section7 역사의 강 평화를 담다 - 정사각형 4개 부분**/
#s_cont_7{
    /**height: 1900px;**/
    padding: 160px 0;
    background-color: rgb(238, 234, 234);
}
#s_cont_7 h1{
    margin-bottom: 36px;
}
/**#s_cont_7 p{
    margin-bottom: 100px;
}**/
#big_box{
    height: 1315px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
#box_1, #box_2, #box_3, #box_4{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#s_cont_7 .inner_box{
    width: 343px;
    height: 626px;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}
#s_cont_7 .inner h1{
    color: #333;
}
#s_cont_7 #box_1 .inner_box{
    background-color: #30464d;
}
#s_cont_7 #box_2 .inner_box{
    background-color: #324125;
}
#s_cont_7 #box_3 .inner_box{
    background-color: #4D3931; /**#AEB8AD**/
}
#s_cont_7 #box_4 .inner_box{
    background-color: #748172; /**#6e8b6b**/
}
#s_cont_7 .inner_box h5{
    padding-top: 36px;
}
#s_cont_7 .inner_box h5, #s_cont_7 .inner_box .ul{
    margin-left: 40px;
}
#s_cont_7 .inner_box .ul{
    font-family: 'Arita4.0_M';
    font-size: 18px;
    margin-bottom: 30px;
    
}
#s_cont_7 .inner_box .ul a{
    display: block;
    text-align: center;
    width: 102px;
    /**width: 102px;
    height: 35px;
    border: solid 1px #000;
    border-radius: 17.5px;*/
    margin-top: 17px;
    border: solid 1px #fff;
    border-radius: 20px;
    padding: 5px 0;
}
#s_cont_7 .inner_box .ul a:hover{
    color: #555;
    background-color: #fff;
}
#s_cont_7 .inner_box .ul .li img{
    margin-right: 7px;
    position: relative;
    top: 3px;
}

/**section7 역사의 강 평화를 담다 - 정사각형 4개 부분**/

/**section8 물과 빛 우리의 소망**/
#s_cont_8{
    padding: 160px 0;
    color: #fff;
    background-color: #fff;
}
#s_cont_8 .inner h1{
    margin-bottom: 36px;
    color: #333;
}
#s_cont_8 .font_18{
    line-height: 32px;
    margin-bottom: 100px;
    color: #333
}

/**#s_cont_8 .box_middle p{
    padding-top: 588px;
}**/
#s_cont_8 #inner_box{
    height: 1432px;
}
#s_cont_8 #inner_box, #s_cont_8 .box_left{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#s_cont_8 .photo_box_1, #s_cont_8 .photo_box_2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#s_cont_8 .mini_box{
    width: 447px;
    height: 336px;
    background-color: #666;
}
#s_cont_8 .box_middle,.box_right{
    width: 447px;
    height: 701px;
    background-color: #666;
}
#s_cont_8 .box_middle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
#s_cont_8 .box_right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start
}
#s_cont_8 .photo_box_1 .font_18_1, #s_cont_8 .photo_box_2 .font_18_1{
    text-align: left;
    margin: 30px 0 30px 0;
    padding: 0 50px;
}

#s_cont_8 .photo_box_1 .box_middle{
    background-image: url("../images/bg/bg_prayer_light.png");
}
#s_cont_8 .photo_box_2 .box_middle{
    background-image: url("../images/bg/bg_creative_light.png");
}
#s_cont_8 .photo_box_2 .box_right{
    background-image: url("../images/bg/bg_floating_light.png");
}
/**section8 물과 빛 우리의 소망**/

/**section9 관광정보를 만나보세요**/
#s_cont_9{
    padding: 250px 0 250px 0;
    text-align: center;
    color: #333;
    background-color: #f7f7f7;
}
#s_cont_9 h6{
    word-spacing: 0.3rem;
    margin-bottom: 62px;
    color: #333;
}
#s_cont_9 .info a{
    display: block;
    position: relative;
    padding: 16px 30px;
    border: solid 1px #444;
    border-radius: 3px;
}
#s_cont_9 .info a:hover{
    color: #fff;
    background-color: #454545;
}
#s_cont_9 .info a img{
    width: 15px;
    height: 15px;
    position: relative;
    right: -30px;
    padding-right: 30px;
}
#s_cont_9 .info{
    margin: 0 auto;
    width: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
/**section9 관광정보를 만나보세요**/

/**section10 회색 아이콘모음**/

#sns{
    text-align: right;
    background-color: #474344;
    padding: 5px 0;
}
#sns a img{
    width: 38px;
}
#sns a:nth-child(1), #sns a:nth-child(2){
    padding-right: 16px;
}
/**section10 회색 아이콘모음**/

/**footer**/
footer{
    background-color: #fff;
}
#footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:flex-start; 
    padding: 45px 0;
}
#footer #f_logo{
    width: 146px;
    height: 112px;
    padding-top: 22px;
}
#footer #f_logo img{
    width: 100%;
}
#footer #f_cont ul{
    padding-bottom: 40px;
}
#footer #f_cont ul li{
    display: inline-block;
    font-weight: 500;
}
#footer #f_cont ul li img{
    padding: 0 25px;
    position: relative;
    top: 2px;
}
#footer #f_cont p{
    font-weight: 400;
    line-height: 3rem;
    color: #555555;
}
#footer #f_cont ul li:nth-child(9){
    font-weight: 700;
}
#footer #f_cont :nth-child(3){
    font-weight: 500;
}
#footer #site{
    color: #555555;
}
#footer #site a{
    display: block;
    border: solid 1px #555555;
    border-radius: 20px;
    padding: 8px 35px;
}
#footer #site a img{
    position: relative;
    top: -3px;
}    
/**footer**/