





.swiper-container {
    width: 1920px;
    height: 800px;
 
} 
.ppp{
  position: relative;
  top:50%; left:0;
}
.swiper-slide {
  background-color: #fff;
  text-align: center;
}

.blue {
  background-color: #fff;
}

.red {
  background-color: #fff;
}


.circle{
  background: #fff;
  width: 132%;
  height: 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding-bottom: 40%;
  z-index: -1;
  margin-top: -9%;
}



.swiper-slide-next h1, .swiper-slide-next h3, .swiper-slide-next p{
  opacity: 0;
}

.swiper-slide-prev h1, .swiper-slide-prev h3, .swiper-slide-prev p{
  opacity: 0;
}

.swiper-slide-next{
  transform: rotate(15deg);
  top: 120px;
}
.swiper-slide-prev{
  transform: rotate(-15deg);
  top: 120px;
}

.swiper-wrapper h3, .swiper-wrapper img{
  margin-bottom: 60px;
}
.swiper-wrapper h1{
  margin-bottom: 14px;
}